<!-- header.component.html -->
<nav class="bg-white-600 text-#101010 h-screen fixed top-0 left-0 w-60">
  <div class="flex flex-col justify-between h-full px-12">
    <!-- Logo and Subtitle -->
    <div class="py-12 flex flex-col w-60">
      <p class="text-4xl font-normal text-customGray custom-font"> Ralf Martinez </p>
      <p class="text-xl font-normal text-customGray custom-font"> BSIT - 3</p>
      <div class="flex flex-col pt-8 nav-link-container"> <!-- Added nav-link-container class -->
        <a href="#home" class="my-4 custom-font">
          <i class="fas fa-home mr-2"></i> Home
        </a>
        <a href="#about" class="my-4 custom-font">
          <i class="fas fa-user mr-2"></i> About
        </a>
        <a href="#projects" class="my-4 custom-font">
          <i class="fas fa-project-diagram mr-2"></i> Projects
        </a>
        <a href="#contact" class="my-4 custom-font">
          <i class="fas fa-envelope mr-2"></i> Contact
        </a>
      </div>
    </div>
  </div>
</nav>
