<div class="todo-container">
  <div class="header">
    <h1 class="title">Todo List</h1>
    <div class="input-group">
      <input
        [formControl]="todoInput"
        class="todo-input"
        placeholder="What needs to be done?"
        aria-label="Enter a new todo"
      />
      <button
        class="add-btn"
        (click)="currentlyEditing ? updateTodo() : addTodo()"
        aria-label="Add or Update Todo"
      >
        {{ currentlyEditing ? 'Update Task' : 'Add Task' }}
      </button>
    </div>
  </div>

  <div class="todo-list" aria-live="polite">
    <ul>
      <li *ngFor="let todo of todos" class="todo-item">
        <span class="todo-text">{{ todo.text }}</span>
        <button
          class="delete-btn"
          (click)="removeTodo(todo._id)"
          aria-label="Delete Todo"
        >
          &#x2716;
        </button>
        <button
          class="edit-btn"
          (click)="editTodo(todo)"
          aria-label="Edit Todo"
        >
          ✏️
        </button>
      </li>
    </ul>
  </div>
</div>
