<!-- projects.component.html -->
<div id="projects" class="px-6 py-20">
  <h2 class="text-4xl font-bold text-center">My Projects</h2>
  <p class="text-1xl font-regular text-center">Below are my previous projects</p>
  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="p-6 ">
      <img src="/assets/images/lex2.jpg" alt="Project 1 Image" class="h-70 w-auto object-cover mb-4"> <!-- Added image for Project 1 -->
      <h3 class="text-xl font-semibold">Project 1</h3>
      <p class="mt-4">Commissioned Graphic Design for an album cover</p>
    </div>
    <div class="p-6 ">
      <img src="/assets/images/p2.png" alt="Project 2 Image" class="h-70 w-auto object-cover mb-4"> <!-- Added image for Project 2 -->
      <h3 class="text-xl font-semibold">Project 2</h3>
      <p class="mt-4">Society of Innovators, Programmers and Designer's club logo design for Pin.</p>
    </div>
    <div class="p-6 ">
      <img src="/assets/images/p3.jpg" alt="Project 3 Image" class="h-70 w-auto object-cover mb-4"> <!-- Added image for Project 3 -->
      <h3 class="text-xl font-semibold">Project 3</h3>
      <p class="mt-4">Digital Art made in Microsoft Paint featuring a Witch Doctor's black cat and a skull on a tome.</p>
    </div>
  </div>
</div>
