@import "tailwindcss";

@layer base {
  body {
    background-image: url('/assets/images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #101010; /* Fallback color */
    font-family: 'Lato', sans-serif; /* Apply Lato font globally */
    padding: 20px; /* Add padding to create space for the border */
  }

  
  /* Vertical line connecting navlinks */
  .nav-link-container {
    position: relative;  
  }
 
  .grid-container {
    @apply grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3;
}

.quote-card {
    @apply shadow-md rounded-lg p-4 transition-all duration-300;
}

.quote-card.is-confucius {
    @apply bg-red-500 hover:bg-[#020082] text-white;
}

.quote-card:not(.is-confucius) {
    @apply bg-black text-white;
}

.quote-card li {
    @apply text-white font-semibold;
}


/*
  .nav-link-container::before {
    content: '';
    position: absolute;
    left: 50%;  
    top: 8px;   
    bottom: 0;
    width: 1px;
    background-color: #000;  
  }
}
#home {
  border-top: 1px solid black;   
  border-right: 1px solid black; 
}
#about {
  border-top: 1px solid black;   
  border-left: 1px solid black;   
}
#projects {
  border-top: 1px solid black; 
  border-bottom: 1px solid black; 
  border-right: 1px solid black; 
}
#contact {
  border-bottom: 1px solid black; 
  border-left: 1px solid black; 
}
#header {
  border-bottom: 1px solid black; 
  border-left: 1px solid black; 
  */
}
